/* square buttons */
.rec.rec-arrow {
    border-radius: 50;
    /* width: 0; */
    /* visibility: hidden; */
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {

    visibility: hidden;
}

.rec-carousel-item:focus {
    outline: none;
    /* box-shadow: inset 0 0 1px 1px rgb(180, 37, 37); */
}